<%- include user_header.ejs %>			<!-- UPDATE FORM AREA -->	
            <div class="update-form">
            <div class="container">
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <!-- <h3 style="border-bottom:solid thin #e1e1e1;padding-bottom:10px;margin-bottom:10px;">Edit Product Detail</h3> -->
                   <form action="/user_update_equipment<%=equip_data.id%>" method = "post" style="margin-top:20px;margin-bottom:20px;" class="product-edit-custom-form" autocomplete="off" enctype="multipart/form-data">
                       <h3 style="border-bottom:solid thin #e1e1e1;padding-bottom:10px;margin-bottom:10px;">Update Equipment</h3>
                      
         <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Km</label>
    <div class="col-sm-9">
       <input type="number" class="form-control" name = "km" value="<%=equip_data.km%>"> 
    </div>
  </div>
                        <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Price</label>
    <div class="col-sm-9">
    <input type="number" class="form-control" placeholder="Update Price" name = "expected_price" value="<%=equip_data.expected_price%>">
        
    </div>
  </div>
                        <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Description</label>
    <div class="col-sm-9">
    <textarea row="3" class="form-control" name="description" placeholder = '<%=equip_data.description%>'></textarea>
    </div>
  </div>
    <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Featured Photo</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" placeholder="" name="photo1">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Photo 2</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" placeholder="" name="photo2">
    </div>
  </div>
                       <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Photo 3</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" placeholder="" name="photo3">
    </div>
  </div>
                       <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Photo 4</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" placeholder="" name="photo4">
    </div>
  </div>
                       
                  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Invoice</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" placeholder="" name="doc_invoice">
    </div>
  </div>      
               <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Insurance</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" placeholder="" name="doc_insurance">
    </div>
  </div> 
                       <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Fitness Document</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" placeholder="" name="doc_fitness">
    </div>
  </div>
                       <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update RC</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" placeholder="" name="doc_rc">
    </div>
  </div>       
                       <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update POC</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" placeholder="" name="doc_poc">
    </div>
  </div>              
                      <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label custom-form-name-title">Update Road Tax</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" placeholder="" name="doc_roadtax">
    </div>
  </div>       
                       
   <input type="submit" class="btn btn-primary" value="SUBMIT">
  </form>
                    </div>
                </div>
                </div>
            </div>
            
            <!--END UPDATE FORM AREA-->
            
            
            
            
            
            <!--FEATURED PRODUCT HERE-->
           
            
            <!--END FEATURED PRODUCT HERE-->
            

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3  offset-md-1 col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<!--<h4 class="text-white">About Us</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>-->
                                <img src="img/logo%20-%20Copy.png" class="img-fluid" style="width:80%">
                                
							</div>
						</div>
						<div class="col-lg-2  col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Equipments</h4>
                                <ul>
                                <li>Popular</li>
                                <li>Catalog</li>
                                <li>Trending</li>
                                <li>Features</li>
                                </ul>
                                
                                
                                
							</div>
						</div>						
						<div class="col-lg-2  col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Company</h4>
                                 <ul>
                                <li>Home</li>
                                <li>Rental</li>
                                <li>Solutions</li>
                                <li>Blog</li>
                                </ul>
							</div>
						</div>
                        
                        <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="single-footer-widget">
                            <h4 class="text-white">Info</h4>
                            <ul>
                            <li>Support</li>
                            <li>Disclaimer</li>
                            <li>Privacy Policy</li>
                            <li>Terms of Services</li>
                            </ul>
                            </div>
                        </div>
                        
                         <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="single-footer-widget">
                            <h4 class="text-white">Follow Us :</h4>
                            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                            <div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<!--<a href="#"><i class="fa fa-behance"></i></a>-->
                                </div>
						</div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
					</div>
					
				</div>
			</footer>	
			<!-- End footer Area -->
           
            <!--<script src="js/jquery1.11.1.js"></script>-->
             <script language="Javascript" src="js/stat-jquery.js"></script>
			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>			
			<script src="js/parallax.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/vendor/bootstrap.min.js"></script>
			<script src="js/main.js"></script>   
            
             <script type="text/JavaScript" src='js/state.js'></script>
           
           <!--custom slider js-->
                <!-- Syntax Highlighter -->
  <script type="text/javascript" src="js/custom-slider/shCore.js"></script>
  <script type="text/javascript" src="js/custom-slider/shBrushXml.js"></script>
  <script type="text/javascript" src="js/custom-slider/shBrushJScript.js"></script>
            
             <script defer src="js/custom-slider/jquery.flexslider.js"></script>

  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
            
            <!--end custom slider js-->
          
		</body>
	</html>



