<%- include user_header.ejs %>			<!-- End banner Area -->	
           
			<!-- end contact Area -->		
            <!--SIDEBAR PRODUCT SLIDER HERE-->
            <div class="equip-slider">
            <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              
                    
                    <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li data-thumb="/<%=equip_data[0].photo1%>">
  	    	    <img src="/<%=equip_data[0].photo1%>"/>
  	    		</li>
  	    		<li data-thumb="/<%=equip_data[0].photo2%>">
  	    	    <img src="/<%=equip_data[0].photo2%>" />
  	    		</li>
  	    		<li data-thumb="/<%=equip_data[0].photo3%>">
  	    	    <img src="/<%=equip_data[0].photo3%>" />
  	    		</li>
  	    		<li data-thumb="/<%=equip_data[0].photo4%>">
  	    	    <img src="/<%=equip_data[0].photo4%>" />
  	    		</li>
              
          </ul>
        </div>
      </section>
                    
                    
                    
                </div><!--end col 6 here-->
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="header-name">
                <h3><%=equip_data[0].subcategory%></h3>    
                    </div>
                    <div class="custom-equip-detail" style="margin-top:10px;">
                        <div class="row custom-row-border">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <p class="price-para-custom">$&nbsp;<%=equip_data[0].expected_price%></p> 
                            </div>
                            
                           
                            
                        </div>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="width:100%;margin:10px 0;">Owner Details</button>
                        
                        <div class="collapse" id="collapseExample">
  <div class="card-body">
   <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                            <h4 class="text-center" style="padding-top:10px;">Name</h4>
                        <p class="text-center"><%=owner_details.name%></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                       <h4 class="text-center" style="padding-top:10px;">Country</h4>
                        <p class="text-center">India</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                        <h4 class="text-center" style="padding-top:10px;">City</h4>
                        <p class="text-center"><%=owner_details.city%></p>
                        </div>
                        
                        </div>
         <div class="row custom-second-row">
                             <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                            <h4 class="text-center" style="padding-top:10px;">State</h4>
                        <p class="text-center"><%=owner_details.state%></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                            <h4 class="text-center" style="padding-top:10px;">Zip Code</h4>
                        <p class="text-center"><%=owner_details.zipcode%></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                       <h4 class="text-center" style="padding-top:10px;">Email Id</h4>
                        <p class="text-center" style="word-break:break-word;"><%=owner_details.email%></p>
                        </div>
                        <!--<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                        <h4 class="text-center" style="padding-top:10px;">Type</h4>
                        <p class="text-center">Machine</p>
                        </div>-->
                        </div>
       <div class="row custom-second-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                            <h4 class="text-center" style="padding-top:10px;padding-bottom:10px;">Address</h4>
                        <p class="text-center"><%=owner_details.address1%></p><br>
                        <p class="text-center"><%=owner_details.address2%></p><br>
                        <p class="text-center"><%=owner_details.address3%></p>    
                        </div>
                        </div>
  </div>
</div>
                           <p style="padding-top:10px;"><%=equip_data[0].description%></p>

                       
                        
                       <div class="row custom-second-row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                            <h4 class="text-center" style="padding-top:10px;">Brand</h4>
                        <p class="text-center"><%=equip_data[0].brand%></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                       <h4 class="text-center" style="padding-top:10px;">Model</h4>
                        <p class="text-center"><%=equip_data[0].model%></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                        <h4 class="text-center" style="padding-top:10px;">Year</h4>
                        <p class="text-center"><%=equip_data[0].year%></p>
                        </div>
                        
                        </div>
                        
                        
                        
                        <div class="row custom-second-row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                            <h4 class="text-center" style="padding-top:10px;">Colour</h4>
                        <p class="text-center"><%=equip_data[0].colour%></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                       <h4 class="text-center" style="padding-top:10px;">Km / Hour</h4>
                        <p class="text-center"><%=equip_data[0].km%></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                        <h4 class="text-center" style="padding-top:10px;">Type</h4>
                        <p class="text-center"><%=equip_data[0].category%></p>
                        </div>
                        </div>
                        
                         <div class="row custom-second-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                            <h4 class="text-center" style="padding-top:10px;">City</h4>
                        <p class="text-center"><%=equip_data[0].city%></p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                       <h4 class="text-center" style="padding-top:10px;">State</h4>
                        <p class="text-center"><%=equip_data[0].state%></p>
                        </div>
                        <!--<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid thin #e1e1e1">
                        <h4 class="text-center" style="padding-top:10px;">Type</h4>
                        <p class="text-center">Machine</p>
                        </div>-->
                        </div>
                    </div>
                    
                </div>
                
                
                </div>
            </div>
                </div>
            
            
            <!--END SIDEBAR PRODUCT SLIDER HERE-->
            
            <!---   PRODUCT DESCRIPTION ACCORDION-->
            <div class="custom-accordian">
            <div class="container">
            <div class="row">
              
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <!--<li class="nav-item">
    <a class="nav-link active custom-pill-header" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Description</a>
  </li>-->
  <li class="nav-item">
    <a class="nav-link active custom-pill-header" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Technical Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link custom-pill-header" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Documents</a>
  </li>
</ul>
<hr class="custom-hr-detail">   
                    
                        <div class="tab-content custom-pill-para" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
  						<%if(tech_info.mapping_unit){%>
                            <div class="row custom-second-row">
                        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="max-width:20%">
                        			<h4>Mapping Unit <span style="padding-left:30px">:</span> </h4>
                        		</div>

                        		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        			<p><%=tech_info.mapping_unit%></p>
                        		</div>
                        	</div>
                        <%}%>

  						<%if(tech_info.max_dig_depth){%>
                            <div class="row custom-second-row">
                        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="max-width:20%">
                        			<h4>Max Dig Depth <span style="padding-left:30px">:</span> </h4>
                        		</div>

                        		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        			<p><%=tech_info.max_dig_depth%></p>
                        		</div>
                        	</div>
                        <%}%>

  						<%if(tech_info.blade_capacity){%>
                            <div class="row custom-second-row">
                        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="max-width:20%">
                        			<h4>Blade Capacity <span style="padding-left:30px">:</span> </h4>
                        		</div>

                        		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        			<p><%=tech_info.blade_capacity%></p>
                        		</div>
                        	</div>
                        <%}%>

  						<%if(tech_info.showel_capacity){%>
                            <div class="row custom-second-row">
                        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="max-width:20%">
                        			<h4>Showel Capacity <span style="padding-left:30px">:</span> </h4>
                        		</div>

                        		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        			<p><%=tech_info.showel_capacity%></p>
                        		</div>
                        	</div>
                        <%}%>

  						<%if(tech_info.mapping_unit){%>
                            <div class="row custom-second-row">
                        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="max-width:20%">
                        			<h4>Mapping Unit <span style="padding-left:30px">:</span> </h4>
                        		</div>

                        		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        			<p><%=tech_info.mapping_unit%></p>
                        		</div>
                        	</div>
                        <%}%>

  						<%if(tech_info.mapping_unit){%>
                            <div class="row custom-second-row">
                        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="max-width: 20%">
                        			<h4>Mapping Unit <span style="padding-left:30px">:</span> </h4>
                        		</div>

                        		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        			<p><%=tech_info.mapping_unit%></p>
                        		</div>
                        	</div>
                        <%}%>

  						<%if(tech_info.mapping_unit){%>
                            <div class="row custom-second-row">
                        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="max-width: 20%">
                        			<h4>Mapping Unit <span style="padding-left:30px">:</span> </h4>
                        		</div>

                        		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        			<p><%=tech_info.mapping_unit%></p>
                        		</div>
                        	</div>
                        <%}%>

  						<%if(tech_info.mapping_unit){%>
                            <div class="row custom-second-row">
                        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="max-width: 20%">
                        			<h4>Mapping Unit <span style="padding-left:30px">:</span> </h4>
                        		</div>

                        		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        			<p><%=tech_info.mapping_unit%></p>
                        		</div>
                        	</div>
                        <%}%>

  						<%if(tech_info.mapping_unit){%>
                            <div class="row custom-second-row">
                        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="max-width: 20%">
                        			<h4>Mapping Unit <span style="padding-left:30px">:</span> </h4>
                        		</div>

                        		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        			<p><%=tech_info.mapping_unit%></p>
                        		</div>
                        	</div>
                        <%}%>

  						
							
                            
    </div>
    
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <ol type="I" style="list-style:upper-roman;padding-left:30px;" class="custom-detail-ol">
          <%if(equip_data[0].doc_invoice){%>
          <li><a href="docs/<%=equip_data[0].doc_invoice%>">&nbsp;&nbsp;&nbsp;Invoice</a></li>
          <%}%>
          <%if(equip_data[0].doc_insurance){%>
          <li><a href="docs/<%=equip_data[0].doc_insurance%>">&nbsp;&nbsp;&nbsp;Insurance</a></li>
          <%}%>
          <%if(equip_data[0].doc_rc){%>
          <li><a href="docs/<%=equip_data[0].doc_rc%>">&nbsp;&nbsp;&nbsp;RC</a></li>
          <%}%>
          <%if(equip_data[0].doc_poc){%>
          <li><a href="docs/<%=equip_data[0].doc_poc%>">&nbsp;&nbsp;&nbsp;POC</a></li>
          <%}%>
          <%if(equip_data[0].doc_fitness){%>
          <li><a href="docs/<%=equip_data[0].doc_fitness%>">&nbsp;&nbsp;&nbsp;fitness</a></li>
          <%}%>
          <%if(equip_data[0].doc_roadtax){%>
          <li><a href="docs/<%=equip_data[0].doc_roadtax%>">&nbsp;&nbsp;&nbsp;roadtax</a></li>
          <%}%>
          <%if(tech_info.doc1){%>
          <li><a href="docs/<%=tech_info.doc1%>">&nbsp;&nbsp;&nbsp;Brochure</a></li>
          <%}%>
          <%if(tech_info.doc2){%>
          <li><a href="docs/<%=tech_info.doc2%>">&nbsp;&nbsp;&nbsp;Technical Doccument</a></li>
          <%}%>
      
      </ol>
       </div>
</div>
                
                </div>
                <br><br><br>
                <!--MODAL POPUP-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
               <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>-->
                    
                    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   <div class="modal-body">
        <!--ODY HERE-->
     <nav>
  <div class="nav nav-tabs custom-signin-nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active custom-modal-signin" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Sign In</a>
    <a class="nav-item nav-link custom-modal-signin" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Sign Up</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember me</label>
					</p>

					<p class="fieldset">
						<input class="full-width" type="submit" value="Login" style="font-size:25px;">
					</p>
				</form>
				
    
    
    </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    	<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Password</label>
						<input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>
                    

					<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Create account" style="font-size:25px;">
					</p>
				</form>

    
    </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">333333</div>
</div>
       
       <!--END BODY HERE-->
      </div>
     <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
                    
                    
                    
                    
                    
                
                </div>
                <!--END MODAL POPUP-->
                
                
                
                
                </div>
            </div>
           
            </div>
            
            <!--END PRODUCT DESCRIPTION ACCORDION-->
            
            <!--FEATURED PRODUCT HERE-->
            <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 style="border-bottom:solid thin #e1e1e1;padding-bottom:10px;margin-bottom:10px;">Featured Equipments</h3>
                </div>
                </div>
                
                <div class="row" style="margin-bottom:20px;">
                  
            <%for(var i = 0; i < featured.length; i++){%> 
                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                     <div class="image-custom">
                         <div class="image-custom-featured-details">
                   <img src="/<%=featured[i].photo1%>" class="img-fluid" style="width:100%">
                             </div>
                   <h4 class="custom-price">$&nbsp;&nbsp;<%=featured[i].expected_price%></h4>
                   <h3 class="text-center" style="margin-top:-30px!important;margin-bottom:0!important;"><%=featured[i].subcategory%></h3>
                   <div class="para">
                   <div class="row">
                       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           <h5 class="machine-type-custom text-center" style="font-size:15px;">Brand</h5><p class="text-center" style="font-size:18px;"><strong><%=featured[i].brand%></strong></p>
                       </div>
                       
                       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                       <h5 class="machine-type-custom text-center" style="font-size:15px;">Type</h5><p class="text-center" style="font-size:18px;"><strong><%=featured[i].category%></strong></p>
                       </div>
                       
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <h5 class="machine-type-custom text-center" style="font-size:15px;">Model</h5><p class="text-center" style="font-size:18px;"><strong><%=featured[i].model%></strong></p>
                       </div>
                       </div>
                   </div>
                   </div>
                    </div>
                
            <%}%>
                </div>
                
            </div>

            
            
            
            <!--END FEATURED PRODUCT HERE-->
            

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3  offset-md-1 col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<!--<h4 class="text-white">About Us</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>-->
                                <img src="img/logo%20-%20Copy.png" class="img-fluid" style="width:80%">
                                
							</div>
						</div>
						<div class="col-lg-2  col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Equipments</h4>
                                <ul>
                                <li>Popular</li>
                                <li>Catalog</li>
                                <li>Trending</li>
                                <li>Features</li>
                                </ul>
                                
                                
                                
							</div>
						</div>						
						<div class="col-lg-2  col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Company</h4>
                                 <ul>
                                <li>Home</li>
                                <li>Rental</li>
                                <li>Solutions</li>
                                <li>Blog</li>
                                </ul>
							</div>
						</div>
                        
                        <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="single-footer-widget">
                            <h4 class="text-white">Info</h4>
                            <ul>
                            <li>Support</li>
                            <li>Disclaimer</li>
                            <li>Privacy Policy</li>
                            <li>Terms of Services</li>
                            </ul>
                            </div>
                        </div>
                        
                         <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="single-footer-widget">
                            <h4 class="text-white">Follow Us :</h4>
                            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                            <div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<!--<a href="#"><i class="fa fa-behance"></i></a>-->
                                </div>
						</div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
					</div>
					
				</div>
			</footer>	
			<!-- End footer Area -->
           
            <!--<script src="js/jquery1.11.1.js"></script>-->
			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>			
			<script src="js/parallax.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/vendor/bootstrap.min.js"></script>
			<script src="js/main.js"></script>   
           
           <!--custom slider js-->
                <!-- Syntax Highlighter -->
  <script type="text/javascript" src="js/custom-slider/shCore.js"></script>
  <script type="text/javascript" src="js/custom-slider/shBrushXml.js"></script>
  <script type="text/javascript" src="js/custom-slider/shBrushJScript.js"></script>
            
             <script defer src="js/custom-slider/jquery.flexslider.js"></script>

  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
            
            <!--end custom slider js-->
          
		</body>
	</html>



